<app-page-tittle title="Usuários"></app-page-tittle>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{ usuario.id }}</th>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.idade }}</td>
        <td>{{ usuario.ativo ? "Ativo" : "Desativado" }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="removerUsuario(usuario.id || 0)">Remover</button>
          <a [routerLink]="'/usuarios/editar/' + usuario.id" type="button" class="btn btn-secondary btn-sm ms-2">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <a class="btn btn-success ms-2" routerLink="/usuarios/cadastrar">Cadastrar</a>